div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.results{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border: dotted black;

}